<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this is blue_lagoon page</h1>
        <h1><a href="{% url 'food:panipuri' %}"<h2> navigate from blue_lagoon to panipuri</h2></a></h1>
        <h1><a href="{% url 'food:kajukatli' %}"<h2> navigate from blue_lagoon to kajukatli</h2></a></h1>
        <h1><a href="{% url 'drinks:orange_punch' %}"<h2> navigate from blue_lagoon to orange_punch</h2></a></h1>
    </center>

    
    
</body>
</html>